
<div class="container-fullscreen">
  <div class="container1">
    <% @participations.sort_by{|participation| participation.id}.each do |participation| %>
      <div class="card-product">
        <img src="https://static.mmzstatic.com/wp-content/uploads/2015/01/benevole-festival-musique-temoignage.jpg">
        <div class="card-product-infos">
          <h2><%= participation.user.first_name %></h2>
          <h2><%= participation.id %></h2>

          <p><%= participation.wanted_status %></p>
          <p><%= participation.status %></p>
        </div>
        <div class="row col-lg-10">
          <%= link_to "Accepter", accept_event_participation_path(@event, participation), method: :patch,  class: "btn btn-success" %>
          <%= link_to "Refuser", decline_event_participation_path(@event, participation), method: :patch, class: "btn btn-danger" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
