<div class="container-fullscreen">
    <section class="home">
    <div class="container1">
      <% if @participation.status == true %>
        <h1>Félicitations <%= @participation.user.first_name %>,</h1>
        <h2>vous participez au <strong><%= @participation.event.name %></strong> </h2>
        <h2>au poste de <%= @participation.wanted_status %> </h2>
        <h2>Candidature acceptée</h2>
        <%= link_to "Documents à télécharger", status_index_path, class: "btn1 btn-info" %>
      <%elsif @participation.status == false %>
        <h1>Désolé, <%= @participation.user.first_name %></h1>
        <h2>au <%= @participation.event.name %> </h2>
        <h2>au poste de <%= @participation.wanted_status %> </h2>
        <h2>Candidature refusée</h2>
      <% else %>
        <h1>Merci pour votre candidature</h1>
        <h2>au <%= @participation.event.name %> </h2>
        <h2>au poste de <%= @participation.wanted_status %> </h2>
        <h2>Candidature en attente</h2>
      <% end %>
    </div>
  </section>
  <div class="text-center">
    <%= link_to "Back", events_path, class: "btn btn-info" %>
  </div>
</div>


