<div class="container-fullscreen">
  <div class="container4">
    <div class="row">
      <div class="col-lg-12">
        <p class="information-title">Name</p>
        <p class="information"> <%= @user.first_name %> <%=  @user.last_name %> </p>
        <p class="information-title">Date de naissance</p>
        <p class="information"> <%= @user.date_of_birth %> </p>
        <p class="information-title">Adresse</p>
        <p class="information"> <%= @user.address %> </p>
        <p class="information-title">Numéro de téléphone</p>
        <p class="information"> <%= @user.phone_number %> </p>
        <p class="information-title">Numéro de Sécurité Sociale</p>
        <p class="information"> <%= @user.ss_number %> </p>
      </div>
      <div class="col-lg-12">
        <a href="./" class="btn btn-info">Index</a>
        <%= link_to 'Modifier', edit_user_path, method: :get, class: "btn btn-info" %>
      </div>


    </div>
  </div>
</div>

