<div class="container-fullscreen">
  <div class="container1">
    <form class="form-inline">
      <%= form_tag events_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Nom de l'évènement ou localisation"
        %>
      <% end %>
    </form>
    <% @events.each do |event| %>
    <div class="card-product">
      <%= cl_image_tag event.photo, height: 300, width: 400, crop: :fill %>
      <div class="card-product-infos">
        <h2><%= event.name %> </h2>
        <p>Event in <strong><%= event.localisation %></strong> only.</p>
          <%= link_to "Plus d'infos", event_path(event), class: "btn2 btn-info" %>
      </div>
      </div>
    <% end %>
  </div>
</div>
