<div class="container-fullscreen">
  <div class="container">
    <%= simple_form_for(@event) do |f| %>
    <%= f.input :name, label: "Nom de l'évènement", placeholder: "Nom" %>
    <%= f.input :begin_date, label: "Date de début", placeholder: "jj/mm/aaaa" %>
    <%= f.input :end_date, label: "Date de fin", placeholder: "jj/mm/aaaa" %>
    <%= f.input :localisation, label: "Localisation", placeholder: "Adresse" %>
    <%= f.input :description, label: "Description", placeholder: "En quoi consiste ton évènement" %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.button :submit, class: "btn2 btn-info" %>
    <% end %>
  </div>
</div>
