
<div class="container pad20" style="width:60%; margin-top: 30px; margin-bottom: 30px;" >
  <div class="row">
    <div class="col-lg-12 ">
      <h1 class="text-center"><%= @event.name %> </h1>
      <p class="text-center"> <%= "Begin Date: #{@event.begin_date}" %> </p>
            <p class="text-center"> <%= "End Date: #{@event.end_date}" %> </p>
      <p class="text-center"> <%= "Description: #{@event.description}" %> </p>
            <p class="text-center"> <%= "Localisation: #{@event.localisation}" %> </p>

    </div>

