<div class="container-fullscreen">
  <section class="home2" style="background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(<%= cl_image_path @event.photo %>) ;">
    <div class="container1">
      <h1><%= @event.name %> </h1>
      <h2> <%= "Du #{@event.begin_date} au #{@event.end_date} au #{@event.localisation}" %> </h2>
      <h2> <%= @event.description %> </h2>
      <h2> <%= @event.visibility %> </h2>
    </div>
  </section>

  <div class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input" id="customSwitch1">
  <label class="custom-control-label" for="customSwitch1">Ouvrir l'evenement aux candidature</label>
    </div>



  <% if current_user.job == "Bénévole" %>
    <p class="text-center"> <%= link_to "Candidater", new_event_participation_path(@event), class: "btn btn-info" %></p>
  <% else %>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Artistes</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Prestataires</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Bénévoles</a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <ul>
          <li><h1>Roméo Elvis</h1>
        <h4>présence confirmée</h4>
        <p>contratRomeoElvis.jpg</p></li>
          <li><h1>Lomepal</h1>
        <h4>présence confirmée</h4>
        <p>contratLomepal.jpg</p></li>
          <li><h1>Future</h1>
        <h4>présence confirmée</h4>
        <p>contratFuture.jpg</p></li>
          <li><h1>Billie Eilish</h1>
        <h4>présence confirmée</h4>
        <p>contratBillieEilish.jpg</p></li>
        </ul>
        <ul>
          <li><h1>Bobba Ash</h1>
        <h4>présence confirmée</h4>
        <p>contratBobbaAsh.jpg</p></li>
          <li><h1>Alicia Keys</h1>
        <h4>présence confirmée</h4>
        <p>contratAliciaKeys.jpg</p></li>
          <li><h1>Asap Rocky</h1>
        <h4>présence confirmée</h4>
        <p>contratAsapRocky.jpg</p></li>
          <li><h1>Nekfeu</h1>
        <h4>présence confirmée</h4>
        <p>contratNekfeu.jpg</p></li>
        </ul>
        <ul>
          <li><h1>Petit Biscuit</h1>
        <h4>confirmation requise</h4>
        <p>contratPetitBiscuit.jpg</p></li>
          <li><h1>Caballero et Jean Jass</h1>
        <h4>confirmation requise</h4>
        <p>contratCaballeroJJ.jpg</p></li>
          <li><h1>PLK</h1>
        <h4>confirmation requise</h4>
        <p>contratPLK.jpg</p></li>
          <li><h1>PNL</h1>
        <h4>confirmation requise</h4>
        <p>contratPNL.jpg</p></li>
        </ul>
      </div>
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      Contenu à updater
      </div>
      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"><p class="text-center"> <%= link_to "Voir les candidatures", event_participations_path(@event), class: "btn btn-info" %> </p></div>
    </div>
  <% end %>
</div>




