<head>
  <link href="../assets/stylesheets/pages/lightbox.css" rel="stylesheet">
</head>

<body>
<% if user_signed_in? && current_user.job == "Bénévole" %>
<div>
  <section class="home">
    <div class="container1">
    <h1>Bonjour <%= current_user.first_name %>,</h1>
    <h2>Deviens bénévole et participe au festival de ton choix</h2>
      <div class="container6">
        <%= link_to "Postule", events_path, class: "btn5 btn-info" %>
      </div>
    </div>
  </section>

  <section class="contact">
    <h1>Contactez-nous</h1>
    <h2>Si vous avez des questions intelligentes</h2>
    <div class="container">
        <form>
            <label class="input"><span>Nom complet</span><input type="text" name="name" required></label>
            <label class="input"><span>Email</span><input type="email" name="email" required></label>
            <label class="message"><span>Message</span><textarea name="message" required></textarea></label>
            <label class="submit"><a href="#" class="btn1">Envoie ton message  <i class="fa fa-angle-right"></i></a></label>
        </form>
    </div>
  </section>
</div>
<% elsif user_signed_in? && current_user.job == "Manager" %>
<div>
  <section class="home">
    <div class="container1">
    <h1>Bonjour <%= current_user.first_name %>,</h1>
    <h2>Gère les updates depuis ta dernière connexion</h2>
      <div class="container6">
      <%= link_to "Voir les changements", "#", class: "btn5 btn-info" %>
      </div>
    </div>
  </section>
  <section class="infoevent">
    <div class="container">
      <h2>Évènement en cours</h2>
      <h1>Women & Wild</h1>
      <%= link_to "Voir l'évènement", "#", class: "btn2 btn-info" %>
    </div>
  </section>
  <section class="contact">
    <h1>Contactez-nous</h1>
    <h2>Si vous avez des questions intelligentes</h2>
    <div class="container">
        <form>
            <label class="input"><span>Nom complet</span><input type="text" name="name" required></label>
            <label class="input"><span>Email</span><input type="email" name="email" required></label>
            <label class="message"><span>Message</span><textarea name="message" required></textarea></label>
            <label class="submit"><a href="#" class="btn2">Envoie ton message  <i class="fa fa-angle-right"></i></a></label>
        </form>
    </div>
  </section>
</div>
<% else %>

<div>
  <section class="home">
    <div class="container1">
    <h1>Dyna, organise ton event sans la partie relou</h1>
    <h2>Dynamise la manière d'organiser un évènement</h2>
      <div class="container6">
        <%= link_to "Rejoins-nous", "#", class: "btn5 btn-info" %>
      </div>
    </div>
  </section>
  <div class="slideshow-container">
    <div class="mySlides">
      <h3>"Tout est centralisé, tous mes prestataires </h3>
      <h3>ont joué le jeu Dyna, incroyable et sans stress"</h3>
      <p class="author">- Christine Leclerc, Gross boite d'event marseille</p>
    </div>

    <div class="mySlides">
      <h3>"Simple à utiliser et efficace, peu importe </h3>
      <h3>le document demandé, il est facilement téléchargeable"</h3>
      <p class="author">- Patrick Gauvin, La Provence</p>
    </div>

    <div class="mySlides">
      <h3>"J'ai distribué des prospectus deux samedis de suite</h3>
      <h3>pour pouvoir obtenir mon ticket pour Marsatac, trop hâte!"</h3>
      <p class="author">- Sang chaud</p>
    </div>

    <!-- Next/prev buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <section class="overview">
    <div class="container2">
      <div>
        <h2>Organise</h2>
        <p>Simplifie l'organisation de ton évènement en ajoutant la date, le lieu et la capacité de celui-ci. Cette étape consiste en l'élaboration de la vitrine de ton évènement. Les images et descriptifs choisis impacteront l'intêret des prestataires pour ton évènement.</p>
      </div>
      <div>
        <h2>Contacte</h2>
        <p>Grâce à ta base de donnée enregistrée dans ton. profil Dyna, contacte les prestataires dont tu auras besoin de manière simplifiée. Envoie les contrats simplement via l'application. Une fois les devis acceptés, tout sera stocké sur Dyna afin de centraliser tous les papiers.</p>
      </div>
      <div>
        <h2>Assigne</h2>
        <p>Dans le besoin d'aide supplémentaire pour ton évènement? Poste des annonces de candidatures bénévoles, des volontaires seront ravis d'apporter leur aide en échange de leur droit d'entrée pour ton festival.</p>
      </div>
    </div>
  </section>
  <div>
    <section class="contact">
      <h1>Contactez-nous</h1>
      <h2>Si vous avez des questions intelligentes</h2>
      <div class="container">
          <form>
              <label class="input"><span>Name</span><input type="text" name="name" required></label>
              <label class="input"><span>Email Address</span><input type="email" name="email" required></label>
              <label class="message"><span>Message</span><textarea name="message" required></textarea></label>
              <label class="submit"><a href="#" class="btn2">Send Message. <i class="fa fa-angle-right"></i></a></label>
          </form>
      </div>
    </section>
</div>
<script>

var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}
</script>
<script src="../assets/javascripts/lightbox.js"></script>

<% end %>

</body>






